
<footer class="container pt-4 my-md-5 pt-md-3 border-top">
  <div class="row">
    <div class="col col-md">
      <p class="text-center text-muted">© Copyright 2020 OSFAcademy</p>
    </div>
    
  </div>
</footer>