
<div class="d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h1 class="my-0 mr-md-auto font-weight-normal">OSFAcademyProject</h1>
    <nav class="my-2 my-md-0 mr-md-3">
        <% _.each(categories, function(category) { %>
        <a class="p-2 text-dark" href="../<%= category.id %>"><%= category.name %></a>
        <% }); %>

    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

  
